<form method="post" action="{{ path('app_permiso_delete', {'idpermiso': permiso.idpermiso}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ permiso.idpermiso) }}">
    <button class="btn">Delete</button>
</form>
