{% extends 'base.html.twig' %}

{% block title %}Edit Permiso{% endblock %}

{% block body %}
    <h1>Edit Permiso</h1>

    {{ include('permiso/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_permiso_index') }}">back to list</a>

    {{ include('permiso/_delete_form.html.twig') }}
{% endblock %}
