{% extends 'base.html.twig' %}

{% block title %}New PermisosPerfil{% endblock %}

{% block body %}
    <h1>Create new PermisosPerfil</h1>

    {{ include('permisos_perfil/_form.html.twig') }}

    <a href="{{ path('app_permisos_perfil_index') }}">back to list</a>
{% endblock %}
