{% extends 'base.html.twig' %}

{% block title %}New LoginAdmin{% endblock %}

{% block body %}
    <h1>Create new LoginAdmin</h1>

    {{ include('login_admin/_form.html.twig') }}

    <a href="{{ path('app_login_admin_index') }}">back to list</a>
{% endblock %}
