{% extends 'base.html.twig' %}

{% block title %}Edit PerfilesAdmin{% endblock %}

{% block body %}
    <h1>Edit PerfilesAdmin</h1>

    {{ include('perfiles_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_perfiles_admin_index') }}">back to list</a>

    {{ include('perfiles_admin/_delete_form.html.twig') }}
{% endblock %}
