{% extends 'base.html.twig' %}

{% block title %}New PerfilesAdmin{% endblock %}

{% block body %}
    <h1>Create new PerfilesAdmin</h1>

    {{ include('perfiles_admin/_form.html.twig') }}

    <a href="{{ path('app_perfiles_admin_index') }}">back to list</a>
{% endblock %}
